@import "bootstrap.min.css";


html{
    right: 0;
    left: 0;
    margin: 0;

}


body{
    padding-top: 100px;
    cursor: default;

    right: 0;
    left: 0;
    margin: 0;


    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div{
    margin: 0;
}
.loadingVisible{
    position: absolute;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 30%;
}

.banner{
    position: absolute;
    right: 0;
    left: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
    background-color: #FF8A36;
}

.banner-left{
    height: 75px;
    margin-left: 20px;

}

.banner-right{
    height: 75px;
    float: right;
    margin-right: 20px;
}

/*HTML fragment transition animation*/

.fragmentWrapper {
    padding: 0;

    right: 0;
    left: 0;
    margin: 0;
    width: 100%;
    padding-top: 80px;
    overflow: hidden;
}

.fragment {
    padding: 0;
    right: 0;
    left: 0;
    margin: 0;

    position: relative;
    -moz-transition-property: left;
    -o-transition-property: left;
    -webkit-transition-property: left;
    transition-property: left;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    transition-duration: .5s
}

.fragment:not(.active) {
    left: 540px;
}

.fragment.active {
    left: 0;
}

.cityList .btn{
    width: 80%;
}

.runList .btn{
    margin-top: 25px;
    margin-bottom: 25px;

}


.cityCard {

    text-align: center;

    width: 32.5%;
    height: 100%;
    float: left;

    padding: 0;
    left: 0;
    right: 0;
    margin: 0;

    border: solid;
    border-width:thin;
    border-color: darkgrey;

    color: #ffffff;
    background-color: #000000;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cityCard:active{
    opacity: 0.5;
}

.cityCard p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

}



.splashDiv{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
}

.splashLogo{
    max-width: 90%;
    position: relative;
    margin: 20px;
}

.cityLabel{
    padding-top: 80px;
}




.groupRunLabel{

}

.groupRunLabel:active{
    color: #FF8A36;
}

.groupRunLabel:hover{
    color: #a55326;
}

.submitContact{
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
}

.submitContact h5{
    color: #ffffff;
    margin-left:    10px;
    margin-top:     2px;
    margin-bottom:  2px;
}

.contactText{
}

.listRow-false{
    padding-left: 10px;
    color: #ffffff;
    margin-bottom: 10px;
    background-color: #000000;
    opacity: 0.3;
}


.listRow-true{
    color: #FF8A36;
    margin-bottom: 10px;
    background-color: #000000;
    opacity: 0.8;
}

.listRow:active{
    opacity: 1.0;
}

.listRow:hover{
    opacity: .75;
}




