@import "bootstrap.min.css";
@import "datepicker.css";
html{
    overflow-x: hidden;
}

body{
    background-color: #ef921e;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tabbable{
}

.tab-pane{
    overflow: hidden;
}

ul{
    list-style-type: none;
    list-style: none;
    list-style-image: none;
}

.container{

}

.accordion{

}
.cityList{

}

.runList{

}

.cityList .btn{
    width: 80%;
}

.runList .btn{
    width: 80%;
}

.cityImage{
    margin: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cityImage:active{
    width: 250px;
    margin-left: 3px;
    height: 195px;
    margin-top: 8px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.splashDiv{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
}

.splashLogo{
    max-width: 90%;
    position: relative;
    margin: 20px;
}


.accordion-inner{
    color: #ffffff;
}

.accordion-group{
}

.accordion-heading{
    padding: 10px;
    background-color: #4483D1;
    border-radius: 6px;
    border-width: 0px;
    height: 30px;
}

.accordion-heading:active{
    height: 35px;
}


.accordion-heading .accordion-toggle {
    display: block;
    padding: 2px 4px;
    text-decoration:none;

    /*background-color:#e52b27;*/
}


.accordion-toggle {
    padding: 50px;
    cursor: pointer;
    color:#FFFFFF;
    font-size: x-large;
    border-width: 0px;
    text-decoration:none;
}

.accordion-toggle:hover {
    color:navajowhite;

}