<!DOCTYPE html>
<div class="fragment {{transitionState}} runList" id="runList">
    <h1 class="cityLabel"><strong>{{ city.name }}</strong></h1>

    <div class="row listRow"
         on-tap="runSelect('Individual')">
        <h1 class="groupRunLabel">Personalized Run</h1>
    </div>

    <div class="row listRow"
         on-tap="runSelect('Group')">
        <h1 class="groupRunLabel">Group Run</h1>
    </div>


    <div class="contactRow">

        <h1 class="groupRunLabel" on-tap="showTextInput=!showTextInput">Contact US</h1>

        <div class="submitContact" ng-show="showTextInput">
            <p>Manager:  {{ city.manager }}</p>
            <p>Phone: {{ crtPhone }} x{{ city.ext }}</p>
            <p>Email: {{ city.email }}</p>
            <input type="button"
                   class="btn btn-large contact-button"
                   value="Call Us"
                   on-tap="phoneCall()"></input>
            <input type="button"
                   class="btn btn-large "
                   value="Email Us"
                   on-tap="emailManager(city.email,city.name)"></input>

        </div>

    </div>

</div>
