<!DOCTYPE html>
<div class="fragment {{transitionState}} runList" id="runList">
    <h1 class="cityLabel"><strong>{{ city.name }}</strong></h1>

    <div class="row listRow"
         on-tap="runSelect('Individual')">
        <h1 class="groupRunLabel">Personalized Run</h1>
    </div>

    <div class="row listRow"
         on-tap="runSelect('Group')">
        <h1 class="groupRunLabel">Group Run</h1>
    </div>


    <div class="listRow" >

        <h1 class="groupRunLabel" on-tap="showTextInput=!showTextInput">Contact US</h1>

        <div class="submitContact" ng-show="showTextInput">
            <h5><strong>Manager: </strong>{{ city.manager }}</h5>


            <span class="contactSpan">
                <h5><strong>Phone: </strong>{{ crtPhone }} x{{ city.ext }}</h5>
                <button type="button"
                       class="btn btn-large contactButton"
                       on-tap="phoneCall()">Call</button>
            </span>
            <span class="contactSpan">
                <h6><strong>Email us at: </strong>{{ city.email }}</h6>
                <textarea placeholder="Compose your message here..." rows="4"
                          class="contactText span6" ng-model="emailText"/>
                <button type="button"
                        class="btn btn-large contactButton"
                        on-tap="emailManager(city.email,city.name)">Submit</button>
            </span>

        </div>

    </div>

</div>
